torch
torchvision
numpy
pandas
opencv-python-headless
scikit-learn
matplotlib
umap-learn
streamlit
geopandas
folium
streamlit-folium
pyyaml
pillow
tqdm
scipy
plotly
gunicorn
Flask
pymongo
python-dotenv
